<!-- Experience Section (Experience) -->
<section class="success" id="experience" style="background-color: #ffffff; color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="experience">
          <h3 style="font-size: 18px;"><strong>PoolC Programming Club</strong>
            <span class="pull-right" style="font-size: 14px;"><em>September 2024 - Present</em></span>
          </h3>
          <p><em>Member</em></p>
          <ul>
            <li>So far, I have taken seminars on harmonics for game sound work, Git/GitHub seminars, and game designer seminars.</li>
            <li>This club has many activities related to seminars and competitions/conferences, especially in games, so we plan to collaborate with people on game projects using artificial intelligence to produce results.</li>
          </ul>

          <h3 style="font-size: 18px;"><strong>Student Council</strong>
            <span class="pull-right" style="font-size: 14px;"><em>March 2024 - Present</em></span>
          </h3>
          <p><em>Member</em></p>
          <ul>
            <li>Supervised the production of the student council’s monthly magazine, as a PR team member</li>
          </ul>

          <h3 style="font-size: 18px;"><strong>AI Band Club (ABC)</strong>
            <span class="pull-right" style="font-size: 14px;"><em>March 2023 - Present</em></span>
          </h3>
          <p><em>Member & President</em></p>
          <ul>
            <li>Played Vocal and Electronic Guitar</li>
            <li>Since 2024, became the club president and successfully completed the regular performance last October.</li>
          </ul>

          <h3 style="font-size: 18px;"><strong>Yonsei Horse Riding</strong>
            <span class="pull-right" style="font-size: 14px;"><em>March 2023 - June 2023</em></span>
          </h3>
          <p><em>Member</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
