<!-- Introduction Section (Introduction) -->
<section class="success" id="introduction" style="background-color: #ffffff; color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Education</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="education">
          <h3><strong>Yonsei University, Seoul</strong>
            <span class="pull-right"><em>March 2023 – Present</em></span>
          </h3>
          <p><em>B.S. in Artificial Intelligence</em></p>
          <ul>
            <li>GPA: 3.79/4.30</li>
            <li>Coursework: Computer Programming, Object Oriented Programming, Data Structure, Linear Algebra</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>