<!-- Research_Interests Section (Research_Interests) -->
<section class="success" id="research" style="background-color: #ffffff; color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Research Interests</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul>
          <li>NLP & LLM</li>
          <li>CV</li>
          <li>Deep Learning</li>
          <li>ANN</li>
        </ul>
      </div>
    </div>
  </div>
</section>