<!-- Skills Section (Skills) -->
<section class="success" id="skills" style="background-color: #ffffff; color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="skills">
          <h3>Programming Languages</h3>
          <ul>
            <li>Python (numpy, matplotlib)</li>
            <li>C++</li>
          </ul>

          <h3>Languages</h3>
          <ul>
            <li>Korean</li>
            <li>English</li>
          </ul>

          <h3>Hobbies</h3>
          <ul>
            <li>Playing Guitar & Singing</li>
            <li>Playing games</li>
            <li>Playing table tennis</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>